h3 {
    font-size: 1rem;
    margin: 0.8rem 0 0 0;
    text-align: left;
    background-color: transparent;
    color: white;
}

img {
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
}